$darkGreyColor: #3d3d3d;
$greyColor: #77797c;
$lightBlueColor: #7cbadd;
$blueColor: #368ec4;
$lightGreyColor: #f3f3f3;
$borderGreyColor: #e7e7e7;
$hoverGreyColor: #d5d6d7;
$backgroundColor: #ffffff;
$selectedItemBackgroundColor: #e0e0e0;
$defaultFontFamily: Arial, Helvetica, sans-serif;
$defaultBorder: 1px solid $borderGreyColor;
$disabledStateButtonTextColor: #a6a6a6;
$disabledStateButtonBackgroundColor: #a6a6a6;
$availableStateButtonBackgroundColor: #e2e4e3;
$stateButtonBorderColor: #b4b6ba;
