.customize-columns-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: space-between;
}

.customize-columns-container .ReactTable {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.customize-columns-container .ReactTable .rt-table .rt-tbody .rt-tr-group {
  flex: 1;
}

.customize-columns-container .ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: start;
}

.customize-columns-container .bottom-panel .buttons-list {
  display: flex;
  flex-direction: row;
  min-width: 350px;
  align-items: center;
}

.droppable-container {
  position: relative;
}
